:root {
    --primary-color: #3a4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: lighter;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

.navbar-links a:hover {
    color: #ff0;
}

.navbarz {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbarz li {
    margin: 0 10px;
    color: #fff;
}

.navbarz li i {
    font-size: 1.2em;
}